{% extends "base.html" %}
 
{% block content %}
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		Добро пожаловать в &ldquo;Почту&rdquo;!
	</nav>
	<table class="table">
  <thead>
    <tr>
    <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Тема</th>
      <th scope="col">Сообщение</th>
 </tr>
  </thead>
  <tbody>
	{%if news%}
	    {%for new in news%}
	    <tr>
		  <th scope="row"> </th>
		<td> {{new[4]}}</td> <td>{{new[1]}}</td> <td>{{new[2][0:70]}}...</td> <td><a class="badge badge-pill badge-success" href="/read_letters/{{new[0]}}">Посмотреть</a></td>
		 </tr>
		<br>
    	{%endfor%}
    {%else%}
    	<h2><span class="badge badge-pill badge-info">Нет писем, которые вы можете увидеть!</span></h2>
    {%endif%}
{% endblock %}